# sudo cp minecraft-server-config/systemd/minecraft-server.service /etc/systemd/system/
# sudo systemctl daemon-reload
# sudo systemctl enable minecraft-server
# sudo reboot
# sudo systemctl status minecraft-server

[Unit]
Description=Minecraft Bedrock Server
After=network.target

[Service]
WorkingDirectory=/home/larsv/minecraft-bedrock
ExecStart=/home/larsv/minecraft-bedrock/bedrock_server
Restart=always
MemoryMax=8G
CPUQuota=75%
Nice=10
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target